@tailwind base;
@tailwind components;
@tailwind utilities;

/* Seus estilos globais ficam aqui embaixo */
* { font-family: 'Antonio', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.1;
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: #ffffff; }
::-webkit-scrollbar-thumb { background: #373737; }